name: "Test workflow"
run-name: Running on ${{ github.event }} for ${{ github.ref_name }}
on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
          - info
          - warning
          - debug
      print_tags:
        description: 'True to print to STDOUT'
        required: true
        type: boolean
      tags:
        description: 'Test scenario tags'
        required: true
        type: string
      environment:
        description: 'Environment to run tests against'
        type: environment
        required: true
  push:
      branches:
          - release/**
      branches-ignore:
          - **-test
        

jobs:
  print-tag:
    runs-on: ubuntu-latest
    steps:
      - name: Print the input tag to STDOUT
        if: ${{ inputs.print_tags }} 
        run: echo  The inputs are ${{ inputs.tags }} ${{inputs.environment}} ${{github.event.inputs.logLevel}}
      - name: Print hello
        if: ${{ github.event_name == 'push' }}
        run: echo  Hello from ${{ github.ref_name }}
        
