name: "Test workflow"
run-name: Running on ${{ github.event_name }} for $GITHUB_REPOSITORY
on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
          - info
          - warning
          - debug
      print_tags:
        description: 'True to print to STDOUT'
        required: true
        type: boolean
      tags:
        description: 'Test scenario tags'
        required: true
        type: string
  push:
      branches:
          - 'release/**'
          - '!**test'
        

jobs:
  print-tag:
    runs-on: ubuntu-latest
    steps:
      - name: Print the input tag to STDOUT
        if: ${{ inputs.print_tags }} 
        run: echo  The inputs are ${{ inputs.tags }} ${{github.event.inputs.logLevel}}
      - name: Print hello
        if: ${{ github.event_name == 'push' }}
        run: echo Hello from ${{ github.ref_name }}
  workflow-commands:
    runs-on: ubuntu-22.04
    steps:
      - name: Print log messages
        run: |
              echo "::group::Different logs types"
              echo "::debug::DEBUG"
              echo "::notice file=app.js,line=1,col=5,endColumn=7::Missing semicolon"
              echo "::warning file=app.js,line=1,col=5,endColumn=7,title=YOUR-TITLE::Missing semicolon"
              echo "::error file=app.js,line=1,col=5,endColumn=7,title=YOUR-TITLE::Missing semicolon"
              echo "::endgroup::"

      - name: Mask a variable
        run: |
              echo "::group::Masked variable"
              echo "::add-mask::Mona The Octocat"
              echo "Masked string is Mona The Octocat"
              echo "::endgroup::"

      - name: Setting up an environment variable
        env:
          MY_VAR: 123
        run: |
              echo "MY_VAR is $MY_VAR"
              echo "ACTION=start" >> "$GITHUB_ENV"
      - name: Retrieving the variable
        if: env.ACTION
        run: echo "ACTION is $ACTION"
  
  matrix-job:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        os: ["mac", "ubuntu", "debian"]
        version: [1, 2, 3]
        include:
          - os: fedora
            version: 1
          - os: fedora
            version: 4
    steps:
      - name: Test matrix
        run: echo "Running on ${{ matrix.os }} version ${{ matrix.version }}"
    
            
        



            
  
        
